.injuries {
  max-width: 800px;
  margin: 0 auto;

  .row {
    .display-flex();

    @media @mobile {
      display: block;
    }
  }

  .image {
    .flex(1 0 50%);
    .flex-order(1);
    position: relative;
    @media @mobile {
      width: 100%;
    }
  }

  .icon {
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: fade(#a80000, 80%);
    border: 1px solid #a80000;
    cursor: pointer;

    &:hover, &:focus, &.active {
      background-color: #a80000;
    }

    .label {
      display: none;
      background-color: fade(white, 80%);
      padding: 4px 8px;
      position: relative;
      font-size: 16px;
      z-index: 999;
      min-width: 100px;
    }

    &:hover {

      .label {
        display: inline-block;       

        @media @mobile {
          display: none;
        }
      }
    }
  }



  .description {
    .flex-order(1);
    background-color: fade(@df-middle-gray, 10%);

    @media @mobile {
      font-size: 16px;
    }

    ul {
      padding: 0;
    }

    .item {
      display: none;
      &.show {
        padding: 20px 30px;
        font-size: 16px;
        display: block;
      }
    }
  }

}