@import "seattletimes";
@import (inline) "npm://chartist/dist/chartist.min.css";

nav.top-bar {
  border-bottom: 1px solid @df-border-gray;
  margin-bottom: 20px;
  margin-top: -20px;

  @media @mobile {
    height: 40px;
    width: 100%;
  }

  .logo {
    position: relative;
    top: 30px;
    text-align: center;
    display: block;

    @media @mobile {
      top: 20px;
    }

    img {
      box-sizing: content-box;
      height: 30px;
      background: white;
      padding: 10px;

      @media @mobile {
        padding: 5px;
      }
    }
  }
}
.griffey-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.griffey-intro {
  .display-flex();
  .justify-content(center);
  padding-bottom: 50px;
  .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 64px;
  }

  img {
    width: 40%;
    height: 40%;
    .flex(4 0);

  }

  .stats {

    .flex(3 0);
    padding-top: 30px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transform: translateX(-20%);
    -webkit-transform:  translateX(-20%);
    p {
      text-transform: uppercase;
      font-size: 32px;
    }
  }
}

.home-runs {
  
  .title {
    text-align: center;
    padding: 15px;
  }


}
  .year {
    
    .left {
      
    }
    
    .right {
    }

    .body{
    }
  }
.batting-averages {
}

.separator {
  display:block;
  border:none;
  color:white;
  height:3px;
  background:black;
  margin-left: 5%;
  margin-right: 5%;

}

.ct-bar {
  fill: black;
  stroke-width: 20px;
  font-family:  @df-sans;
}
.ct-series-a .ct-line {
  stroke: #f05b4f;
}
.ct-series-a .ct-bar {
  stroke: #f05b4f;

}

.ct-barlabel {
  font-size:16px;

}

.ct-series-a .ct-barlabel {
  font-size:20px;
}

.ct-homeruns {

  position: relative;
  float: left;
  opacity: 30%;
  z-index: 1;


}


.ct-averages {
  position: relative;
}



.hr-leaders {
  .display-flex();


  .leader {

    .flex(1);
    .name {


    }

    .photo {


      img {
        width: 100px;
        -webkit-border-radius: 12px; 
        -moz-border-radius: 12px; 
        border-radius: 12px; 
      }
    }

    .stat {
    }

  }


}


.tooltip {
  position: absolute;
  display: inline-block;
  line-height: 1.1;
  padding: 0.4em;
  background: white;
  border: 1px solid black;
  color: black;
  // font-weight: bold;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
  stroke: #679BD2;
  z-index: 1;
  @media @mobile {
    min-width: 0;
  }
}

.injuries {
  img {
    width: 50%;
  }
  
    .icon {
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all .3s linear;
    transform-origin: 50% 50%;
  }
}

