@import "seattletimes";
@import (inline) "npm://chartist/dist/chartist.min.css";

nav.top-bar {
  border-bottom: 1px solid @df-border-gray;
  margin-bottom: 20px;
  margin-top: -20px;

  @media @mobile {
    height: 40px;
    width: 100%;
  }

  .logo {
    position: relative;
    top: 30px;
    text-align: center;
    display: block;

    @media @mobile {
      top: 20px;
    }

    img {
      box-sizing: content-box;
      height: 30px;
      background: white;
      padding: 10px;

      @media @mobile {
        padding: 5px;
      }
    }
  }
}
.griffey-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.griffey-intro {
  .display-flex();
  .justify-content(center);
  padding-bottom: 50px;
  .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 64px;
  }

  img {
    width: 40%;
    height: 40%;
    .flex(4 0);

  }

  .stats {

    .flex(3 0);
    padding-top: 30px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transform: translateX(-20%);
    -webkit-transform:  translateX(-20%);
    p {
      text-transform: uppercase;
      font-size: 32px;
    }
  }
}

.batting-averages {
  background-color: #CFE4E4;
  padding: 5%;
}

.separator {
  display:block;
  border:none;
  color:white;
  height:3px;
  background:black;
  margin-left: 5%;
  margin-right: 5%;

}

