<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/seattletimes.svg">
      </a>
    </nav>

    <%= t.include("./partials/_ad.html", { type: "banner" }) %>


    <div class="griffey-container">

      <section class="griffey-intro">

        <div class="grif-pic"><img src="./assets/GriffeyILLO2016web.jpg"></div>
        <div class="intro">

          <div class="intro-text">HALL OF FAME | <strong>KEN GRIFFEY JR.</strong> | CLASS OF 2016</div>
          <div class="kgj">MEASURING GREATNESS</div>
          <div class="intro-text">22 years | 2,671 games | 2,781 hits | 1,836 RBI</div>
          <div class="chatter">
            Numbers don’t begin to tell the story of Ken Griffey Jr.’s Hall of Fame career. They don’t tell you how graceful The Kid chased down balls in the Mariners' outfield, they don’t paint a picture of his infectious, trademark grin, and they certainly can’t define what this legend meant for the city of Seattle. But, the numbers do make one thing clear: No. 24 was No. 1 in baseball for a long time.
          </div>

          <div class="separator"></div>
          <div class="hrs"><div class="num">630</div> HOME RUNS</div>
          <div class="field">

            <img src="./assets/GriffeyWEBgraphics2.jpg">
            <ul>
              <li>Griffey hit 40 or more home runs in seven seasons (including five straight from 1996-2000). Only seven players have accomplished that feat.</li>
              <li>530 of his 630 homers came from the No. 3 spot in the lineup.</li>
              <li>Griffey homered against 407 different pitchers. The most victimized was David Wells, whom Griffey homered off of eight times.</li>
              <li>He played in parts of four decades, one of only 29 players to do so.</li>
            </ul>

          </div>
        </div>



      </section>

      <div class="divider"></div>

      <section class="home-runs">

        <div class="title">Griffey's Home Runs by Season</div>
        <div class="chatter">Scroll through the graph below to see how Ken Griffey Jr. fared in each of his 22 seasons.</div>

        <div class="legend">
          <div class="key"><div class="splotch"></div> With Mariners</div>

          <div class="key two"><div class="splotch two"></div> With Cincinnati Reds; Chicago White Sox</div>

        </div>
        <div class="ct-homeruns ct-bar ct-octave" id="ct-homeruns"></div>

        <div class="year">

          <a class="advance left">&lt;</a>

          <div class="description-container">

            <div class="year-description show" >Browse to explore some of Ken Griffey Jr.'s most memorable moments.</div>

            <% var notes = {};
            json.GriffeyStats_notes.forEach(function(item) {
              if (!notes[item.Note]) notes[item.Note] = [];
              notes[item.Note].push(item);
            });

            for (var n in notes) {

              var note = notes[n];
              note.forEach(function(item) { %>

            <div class="year-description" data-id="<%= item.id %>">

              <div class="year"><%= item.Year %></div><%= item.Note %>
            </div>


            <% })}; %>
          </div>
          <a class="advance right">&gt;</a>
        </div>

      </section>

       <div class="divider"></div>

      <section class="compare">
        <div class="title">What if? Griffey vs. all-time home run leaders</div>
        <div class="chatter">Take a look at Ken Griffey Jr.'s career home-run trajectory and how it compares to the other five sluggers ahead of him on the all-time list.</div>
        <div class="hr-leaders">


          <% var players = {};
          json.hr_leaders.forEach(function(item) {
            if (!players[item.Name]) players[item.Name] = [];
            players[item.Name].push(item);
          });

          var colors = ['grey', 'red', 'blue', 'green', 'purple', '#52C4B1'];
          var index = 0;
          %>

          <% for (var p in players) {

            var player = players[p];
            player.forEach(function(item) { %>

          <div class="leader" data-id="<%=item.id%>">
            <div class="photo"> <img src="./assets/leaders/<%=index+1%>.jpg"></div>
            <div class="name"><%=item.Name%></div>
            <div class="stat"><%=item.hr%></div>
          </div>

          <% index++; }); } %>
        </div>

        <div class="ct-comp ct-octave" id="ct-comp"></div>

        <div class="xaxis">Career years</div>

        <div class="circles">
          <div class="circle" data-id="a" style="margin-left: 10%;">A</div>
          <div class="circle" data-id="b" style="margin-left: 25%;">B</div>
          <div class="circle" data-id="c" style="margin-left: 10%;">C</div>
          <div class="circle" data-id="d" style="margin-left: 5%;">D</div>
        </div>

        <div class="mult-chatter">
          <div class="comp-chatter show" data-id="a">        <div class="circle">A</div>
            <div class="career-years">First 4 years (1989-1992)</div><br>
              From early in his career, it was apparent that Ken Griffey Jr. was going to be something special. Griffey amassed 87 home runs in his first four years &mdash; all before his 23rd birthday, averaging nearly 22 home runs per season. While impressive, the totals were nowhere near as impressive as what was to come.</div>
          <div class="comp-chatter show" data-id="b">        <div class="circle">B</div>
            <div class="career-years">Next 8 years (1993-2000)</div><br>
            Then the power spike came. It started when Griffey hit 45 home runs in 1993, and continued for the next seven years. Over that span, Griffey averaged 44 home runs per season, a feat made more impressive by the fact that he played in only 72 games in 1995 because of injury. In 1997 he set a career-high with 56 homers, a feat he would match the following year. By the time that eight-year run was over, As the graph shows, Griffey's pace put him ahead of that set by the all-time home run leaders.</div>
          <div class="comp-chatter show" data-id="c">        <div class="circle">C</div>
            <div class="career-years">Next 4 years (2001-2004)</div><br>
            But then injuries struck. Over the next four years, Griffey played in fewer than half of his team's games as he battled injuries to his knees, ankle, hamstrings and shoulder. On top of missing valuable playing time, the injury struggles also sapped him of much of his power. By the time he finally began to regain health in 2005, he had fallen well off the pace.</div>
          <div class="comp-chatter show" data-id="d">        <div class="circle">D</div>
            <div class="career-years">Final 7 years (2004-2010)</div><br>
            Finally healthy, his power began to pick back up, but he never regained the heights he had previously reached. Even if he had, there might simply have not been enough time for him to put the home run record in danger. Instead, when he finally retired in June of 2010, he left the baseball world as one of the undisputed all-time greats. But it's hard not to look back at injuries and wonder "what if?"</div>
        </div>
      </section>
      
       <div class="divider"></div>
      
      

      <section class="injuries">

        <% var injuries = {};
        json.GriffeyStats_injuries.forEach(function(item) {
          if (!injuries[item.injury]) injuries[item.injury] = [];
          injuries[item.injury].push(item);
        }); %>

        <h2 class="title">Griffey's Injuries</h2>
        <div class="row">
          <div class="left">
            <p class="chatter">Ken Griffey Jr. battled injuries for a large part of his career. As a result, he was placed on the disabled list 12 times, forcing him to miss significant playing time. Griffey played in fewer than 130 games in 11 of his 22 total seasons. See a rundown of his injuries and time missed by tapping on each injury.</p>

            <div class="description">
              <ul>
              <% for (var i in injuries) {
                var injury = injuries[i];
                injury.forEach(function(item) { %>
                <li class="item" data-id="<%= item.injury %>"><%= item.description %></li>
              <% }); } %>  
              </ul>
            </div>
          </div>
          
          <div class="image">
            <img src="./assets/GriffeyCutout.jpg">

            <% for (var i in injuries) {
              var injury = injuries[i];
              injury.forEach(function(item) { %>

            <div class="icon" style="top: <%= item.top %>%; left: <%= item.left %>%;"  data-id="<%= item.injury %>">
              <div class="label" data-id="<%= item.injury %>"><%= item.injury %></div>
            </div>

            <% }); } %>       

          </div>
        </div>
      </section>

       <div class="divider"></div>


      <section class="si">
        <div class="title">Cover Boy</div>
        <div class="chatter"> Ken Griffey Jr. graced the cover of Sports Illustrated nine times. Check out each one below:</div>
        <div class="si-image">


          <% for (var i = 1; i < 10; i++) { 
            if (i == 2) { %>
          <div class="si-img" data-id="<%=i%>"><img src="./assets/covers/Griffey-SIcover<%=i%>a.jpg"></div>
          <% } 
          else { %>

          <div class="si-img" data-id="<%=i%>"><img src="./assets/covers/Griffey-SIcover<%=i%>.jpg"></div>

          <% }

          }; %>
        </div>
        <% var mags = {};
        json.GriffeyStats_si.forEach(function(item) {
          if (!mags[item.id]) mags[item.id] = [];
          mags[item.id].push(item);
        }); %>

        <div class="si-focus show" data-id="1">

          <img src="./assets/covers/Griffey-SIcover1.jpg">
          <div class="chatter">
            <div class="year">1990</div>
            Griffey’s first S.I. cover is also his most iconic. The magazine calls him “Seattle’s 20-year-old wonder” and likens him to Willie Mays.


          </div>

        </div>

        <% for (var m = 2; m < 10; m++) {

          var mag = mags[m];

          mag.forEach(function(item) { %>

        <div class="si-focus" data-id="<%= item.id %>">

          <img src="./assets/covers/Griffey-SIcover<%=item.id%>.jpg">
          <div class="chatter">

            <div class="year"><%= item.Year %></div>
            <%= item.Description %>
          </div>

        </div>


        <% })}; %>  


      </section>

      <div class="credits">
        <strong>Reporting and production:</strong> Nick Sullivan, Sean Quinton
        <br><strong>Photo illustration:</strong> Rich Boudet
        <br><strong>Development:</strong> Elif Koc, Audrey Carlsen, Thomas Wilburn
      </div>

      <div class="bottom-ad"><%= t.include("./partials/_ad.html", { type: "bannerBottom" }) %></div>
      
    </div>
    <footer>
      <a class="logo" href="http://www.seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
    </footer>


    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
