<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/seattletimes.svg">
      </a>
    </nav>


    <div class="griffey-container">

      <section class="griffey-intro">

        <img src="/assets/GriffeyILLO2016web.jpg">

        <div class="stats">
          <p>22 years</p>
          <p>2,671 games</p>
          <p>2,781 hits</p>
          <p>1,662 runs</p>
        </div>

      </section>


      <section class="home-runs">

              <div class="separator"></div>

        <div class="title">Griffey's Home Runs by Season</div>
      <div class="separator"></div>

        
        <div class="ct-homeruns ct-series-a ct-bar ct-octave ct-series-a" id="ct-homeruns"></div>

        <div class="year">
          <p class="left">left</p>
          
          <div>Griffey suffered a severe wrist injury on May 26, 1995, while making a leaping catch into the outfield wall. It sidelined him until mid-August</div>
          <div>His best home-run seasons were 1997 and 1998, when he hit 56 each year</div>
          <div>His best home-run seasons were 1997 and 1998, when he hit 56 each year</div>
          <div>Griffey was traded to Cincinnati following the 1999 Mariners season, having hit 398 homers in 11 years here</div>
         
          <p class="right">right</p>
        </div>

      </section>


      <section class="batting-averages">
          <div class="separator"></div>
        <div class="title">Batting Average And Slug</div>
               <div class="separator"></div>

        <div class="ct-averages ct-octave" id="ct-averages"></div>
        
        <div class="ct-slug ct-octave" id="ct-slug"></div>
      </section>
   
<!--      <section class="slugging">
          <div class="separator"></div>
        <div class="title">Slugging Percentage</div>
               <div class="separator"></div>

        <div class="ct-slug ct-octave" id="ct-slug"></div>
      </section>-->
      
      <section class="play">
          <div class="separator"></div>
        <div class="title">Percent of Games Played</div>
               <div class="separator"></div>

        <div class="ct-play ct-octave" id="ct-play"></div>
      </section>

      <section class="griffey-field">
          <div class="separator"></div>
        <div class="title">Field</div>
  <div class="separator"></div>
        <img src="/Assets/GriffeyWEBgraphics2.jpg">
      </section>      
      
      <section class="si">
          <div class="separator"></div>
        <div class="title">Sports Illustrated</div>
  <div class="separator"></div>
                <div class="si-image">

        <% for (var i = 1; i < 9; i++) { %>
        <img class="si-img" src="/Assets/covers/Griffey-SIcover<%=i%>.jpg">
        
        <% }; %>
                  </div>
        
        <div class="si-focus">
          <div class="chatter">
          <h1>Year</h1>
            Griffey suffered a severe wrist injury on May 26, 1995, while making a leaping catch into the outfield wall. It sidelined him until mid-August
            
          </div>
          <img src="/Assets/covers/Griffey-SIcover1.jpg"></div>
      </section>



      <section class="hr-leaders">
  <div class="separator"></div>
        <div class="title">Home Run Leaders</div>
  <div class="separator"></div>

        <% var players = {};
        json.hr_leaders.forEach(function(item) {
          if (!players[item.Name]) players[item.Name] = [];
          players[item.Name].push(item);
        });
        %>

        <% for (var p in players) {
          var player = players[p];
          player.forEach(function(item) { %>

        <div class="leader">
          <div class="photo"> <img src="./assets/leaders/<%=item.id%>.jpg"></div>
          <div class="name"><%=item.Name%></div>
          <div class="stat"><%=item.hr%></div>
        </div>

        <% }); } %>
      </section>



      <div class="injuries">
  <div class="separator"></div>
        <div class="title">Injuries</div>
  <div class="separator"></div>
        <div class="image">
          <img src="./assets/GriffeyCutout.jpg">

          <% var injuries = {};
          json.GriffeyStats_injuries.forEach(function(item) {
            if (!injuries[item.injury]) injuries[item.injury] = [];
            injuries[item.injury].push(item);
          }); %>

          <% for (var i in injuries) {
            var injury = injuries[i];
            injury.forEach(function(item) { %>

          <div class="icon" style="top: <%= item.top %>%; left: <%= item.left %>%;"><div class="glow"></div>
          <div class="description"><%= item.injury %></div>
          </div>

          <% }); } %>       



        </div>
      </div>
      


      <script src="app.js" async></script>
      <% if (json.project.production) { %>
      <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
      <%= t.include("partials/_workHere.html") %>
      <% } %>
      </body>
    </html>
